<div class="filters-container" class="direction-{{configuration.direction}} spacing-{{configuration.spacing}}" >
    <pep-select *ngFor="let calculateFilter of calculateFiltersSubject$ | async; let i=index;" 
        style.maxWidth="{{configuration.limitWidth ? configuration.maxWidth + 'rem' : '100%'}}" class="filter"
        [label]="calculateFilter.title || 'UNTITLED' | translate" type="multi" [options]="calculateFilter.options"
        [value]="calculateFilter.value" [placeholder]="calculateFilter.placeholder"
        [disabled]="calculateFilter.disabled" [placeholderWhenDisabled]="calculateFilter.placeholderWhenNoOptions" 
        (valueChange)="setPageParameterValue(calculateFilter.pageParameterKey, $event)" [emptyOption]="false" ></pep-select>

</div>