@use '@pepperi-addons/ngx-lib/src/core/style/abstracts/variables' as ngx-variables;

.page-builder-editor-tabs {
    .available-filters {
        display: flex;
        flex-flow: column;
        gap: ngx-variables.$spacing-sm;
    }
}